openapi: 3.1.0
info:
  title: NVD CVE CPE CVE Change History API
  description: 'The NVD CVE API provides programmatic access to CVE (Common Vulnerabilities and Exposures) records including CVSS severity scores, affected product lists, CWE classifications, and reference links. Without an API key: 5 requests per 30 seconds; with key: 50 requests per 30 seconds.'
  version: 2.0.0
  contact:
    name: NVD Support
    url: https://nvd.nist.gov/general/contact
  license:
    name: Public Domain (US Government)
    url: https://nvd.nist.gov/developers/terms-of-use
servers:
- url: https://services.nvd.nist.gov/rest/json
  description: NVD REST API v2
security:
- {}
- APIKey: []
tags:
- name: CVE Change History
  description: CVE record modification tracking
paths:
  /cvehistory/2.0:
    get:
      operationId: getCVEChangeHistory
      summary: Get CVE change history
      description: Track modifications to CVE records over time. Useful for incremental synchronization of local databases. Date ranges must not span more than 120 days. Returns up to 5000 changes per page.
      tags:
      - CVE Change History
      parameters:
      - name: cveId
        in: query
        schema:
          type: string
          pattern: ^CVE-[0-9]{4}-[0-9]{4,}$
      - name: changeStartDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: changeEndDate
        in: query
        required: true
        schema:
          type: string
          format: date-time
      - name: eventName
        in: query
        schema:
          type: string
          enum:
          - Initial Analysis
          - Reanalysis
          - CVE Modified
          - Modified Analysis
          - CVE Translated
          - Vendor Comment
          - CVE Source Update
          - CVSS Score Update
          - CWE Remap
          - CPE Deprecation Remap
          - CVE Rejected
          - CVE Unrejected
      - name: resultsPerPage
        in: query
        schema:
          type: integer
          default: 5000
          maximum: 5000
      - name: startIndex
        in: query
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: CVE change history results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CVEHistoryResponse'
components:
  schemas:
    CVEHistoryResponse:
      type: object
      properties:
        resultsPerPage:
          type: integer
        startIndex:
          type: integer
        totalResults:
          type: integer
        format:
          type: string
        version:
          type: string
        timestamp:
          type: string
          format: date-time
        cveChanges:
          type: array
          items:
            type: object
            properties:
              change:
                type: object
                properties:
                  cveId:
                    type: string
                  eventName:
                    type: string
                  cveChangeId:
                    type: string
                    format: uuid
                  sourceIdentifier:
                    type: string
                  created:
                    type: string
                    format: date-time
                  details:
                    type: array
                    items:
                      type: object
                      properties:
                        action:
                          type: string
                          enum:
                          - Added
                          - Changed
                          - Removed
                        type:
                          type: string
                        oldValue:
                          type: string
                        newValue:
                          type: string
  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: apiKey
      description: 'NVD API key (optional but recommended). Without a key: 5 requests/30s. With a key: 50 requests/30s. Request at https://nvd.nist.gov/developers/request-an-api-key'
externalDocs:
  description: NVD Developer Documentation
  url: https://nvd.nist.gov/developers/vulnerabilities
